.textBox {
  position: relative;

  .help {
    position: absolute;
    left: 10px;
    top: 10px;
  }
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;

  .warn {
    color: #F5BE38;
    font-size: 24px;
    margin-left: 5px;
  }
}

.dataTable {
  :global {
    .langhuan-table-container > .langhuan-table-body {
      overflow: auto scroll !important;
      max-height: calc(100vh - 375px) !important;
    }
  }
}

.tableTitle {
  display: flex;
  flex-direction: column;
  white-space: nowrap;

  .type {
    color: #8DCDCE;
    font-weight: lighter;
    font-size: 12px;
  }
}
