.menuWrapper {
  display: flex;
  height: 100%;
  overflow: hidden;

  :global(.langhuan-spin-container) {
    height: 100%;
  }
}

.menu {
  flex-shrink: 0;
  flex-basis: var(--layout-sidebar-width);
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: var(--layout-sidebar-border-width) solid var(--theme-border-color);
  overflow: hidden;
}

.database {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  scrollbar-width: none;
}

.main {
  flex: 1;
  min-width: 0;
  height: 100%;
  overflow: hidden;
}
