.whereEditor {
  position: relative;
  height: var(--layout-query-editor-height);
}

.editor {
  border: 1px solid var(--layout-query-editor-border-color);
  border-radius: var(--radius-xs);
  box-sizing: border-box;
  height: 100%;
  padding: var(--layout-query-editor-padding);
}

.help {
  left: var(--layout-query-editor-help-left);
  position: absolute;
  top: var(--layout-query-editor-help-top);
}

.loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
