.switcher {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.switcher > :global(.langhuan-tabs-content-holder),
.switcher > :global(.ant-tabs-content-holder),
.switcher > :global(.langhuan-tabs-content-holder) > :global(.langhuan-tabs-content),
.switcher > :global(.ant-tabs-content-holder) > :global(.ant-tabs-content),
.switcher
  > :global(.langhuan-tabs-content-holder)
  > :global(.langhuan-tabs-content)
  > :global(.langhuan-tabs-tabpane),
.switcher
  > :global(.ant-tabs-content-holder)
  > :global(.ant-tabs-content)
  > :global(.ant-tabs-tabpane) {
  height: 100%;
  min-height: 0;
}

.switcher > :global(.langhuan-tabs-content-holder),
.switcher > :global(.ant-tabs-content-holder) {
  flex: 1;
  overflow: hidden;
}

.tabbar {
  margin-bottom: 0 !important;

  :global {
    .langhuan-tabs-nav-list .langhuan-tabs-tab {
      margin: var(--spacing-3);
      padding: 6px var(--spacing-3);
      border: 1px solid var(--langhuan-color-border) !important;
      border-radius: var(--radius-md) !important;
    }

    .langhuan-tabs-nav-list div[role='tab'][aria-selected='true'] {
      fill: var(--theme-main-color);
    }
  }
}

.tabLabel {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon {
  width: 14px;
  height: 14px;
}
