.modalWrap {
  :global {
    .langhuan-modal {
      min-width: var(--layout-modal-min-width-lg) !important;
      width: var(--layout-modal-width-lg) !important;
    }
  }
}

.tableWrap {
  max-height: var(--layout-dialog-content-max-height);
  overflow-y: auto;
}

.mark {
  color: var(--theme-danger-color);
}
