.layout {
  height: var(--layout-root-height);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--theme-background-color);
}

.headerWrap {
  position: relative;
  flex-shrink: 0;
  border-bottom: 1px solid var(--theme-border-color);
  background-color: var(--theme-background-color);
}

.header {
  display: flex;
  height: calc(var(--layout-header-height) - 1px);
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 var(--spacing-5);
}

.left {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing-5) * 2);

  .logoWrap {
    border: 0;
    padding: 0;
    background: transparent;
    color: inherit;
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
    cursor: pointer;
  }

  .logo {
    width: 25px;
    height: 25px;
    background: #ffffff;
    border-radius: 50%;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .db {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
  }
}

.right {
  display: flex;
  gap: var(--spacing-5);

  .github {
    border: 0;
    padding: 0;
    background: transparent;
    line-height: 1;
    color: var(--theme-text-color);
    font-size: 20px;
    cursor: pointer;
  }
}

.body {
  flex: 1;
  min-height: 0;
  overflow: hidden;
}
